<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white"
        data-image="./assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="" class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/logobtc.png" />
                </div>
                Connexion
            </a>
        </div>


        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)">
        </div>
        <div class="sidebar-wrapper">
            <div class="card-body">
                <form #userForm="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="login" placeholder="Nom d'utilisateur ou E-mail"
                                 type="text" name="login" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="password" placeholder="Mot de passe" 
                                type="password" name="password" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-center"
                     (click)="seConnecter()" [disabled]="!userForm.valid||on_login">Se connecter</button>
                </form>
                <a href="" [routerLink]="'/register'">Je n'ai pas de compte</a>
            </div>

            <div class="card-body">
                <p class="card-description">
                    Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et
                    siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus
                    ignorantes.
                </p>
            </div>
        </div>
    </div>
    <div class="main-panel" data-color="danger" data-background-color="white">

        <div style="background-image: url(.{{imgItem}});
        width:100%;height: 100%;
        background-size: 100% 100%;
        ">
            <label class="information">
                {{information}}
            </label>
        </div>
    </div>

</div>