<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white"
        data-image="./assets/img/sidebar-1.jpg">
        <div class="logo">
            <a href="" class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/logobtc.png" />
                </div>
                Créer votre compte
            </a>
        </div>


        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)">
        </div>
        <div class="sidebar-wrapper" style="width: 100%!important;text-align: -moz-center;">
            <div class="card-body" style="margin-top: 5%!important;
            width: 90%;">
                <form #userForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom" type="text"
                                [(ngModel)]="user.lastname" required name="lastname">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Prénom(s)" type="text"
                                [(ngModel)]="user.name" required name="name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nom d'utilisateur ou E-mail" type="text"
                                [(ngModel)]="user.login" required name="login">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Code Parrain" type="text"
                                [(ngModel)]="user.codeFather" required name="codeFather">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Mot de passe" type="password"
                                [(ngModel)]="user.password" required name="password">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Confirmer votre mot de passe" type="password"
                                [(ngModel)]="confirmPassword" name="confirmPassword"
                                 required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            confirmPassword: {{confirmPassword}}
                        </div>
                        <div class="col-md-12">
                            user.password: {{user.password}}
                        </div>
                        <div class="col-md-12">
                            confirmPassword!=user.password : {{confirmPassword!=user.password}}
                        </div>
                        <div class="col-md-12">
                            userForm.valide= {{userForm.valide}}
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-center" [disabled]="!userForm.valide||confirmPassword!=user.password">Valider</button>
                </form>
                <a href="" [routerLink]="'/login'">J'ai déjà un compte</a>
            </div>

            <div class="card-body">
                <p class="card-description">
                    Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et
                    siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus
                    ignorantes.
                </p>
            </div>
        </div>
    </div>
    <div class="main-panel" data-color="danger" data-background-color="white"
        >

        <div style="background-image: url(.{{imgItem}});
        width:100%;height: 100%;
        background-size: 100% 100%;
        ">
            <label class="information">
                {{information}}
                
            </label>
        </div>
    </div>

</div>