@media (min-width: 991px){
    .main-panel{
        width: 60%!important;
    }
    .sidebar{
        display: block!important;
        width: 40%!important;
    }
    .information{
        margin-top: 50%; float: left;width: 80%;margin-left: 10%;
        font-family: "Times New Roman", Times, serif;
        font-size: xx-large;
        color: white;
    }
    .sidebar-wrapper>.card-body{
        width: 80%!important;
    }
}
@media (max-width: 991px){
    .main-panel{
        width: 0!important;
        display: none;
    }
    .sidebar{
        display: block!important;
        -webkit-transform:none;
        width: 100%!important;
    }
    .sidebar-wrapper>.card-body{
        width: 100%!important;
    }
}