<div class="main-content">
    <div class="container-fluid col-md-12">
        <button (click)="addTitre()" class="btn btn-danger" *ngIf="btn_add">Ajouter</button>
        <span class="btn float-right btn-danger" *ngIf="list_or_card" (click)="change_list_or_card()"><i class="fa fa-th"></i></span>
        <span class="btn float-right btn-danger" *ngIf="!list_or_card" (click)="change_list_or_card()"><i class="fa fa-list"></i></span>
        
        <div class="col-lg-12" *ngIf="!list_or_card">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-4" *ngFor="let titre of titreModels">
                    <div class="card {{getBg(titre.nom)}}">
                        <div class="card-header">
                            <h4 class="card-title">{{titre.nom}}
                                <i class="{{getIcon(titre.nom)}}"></i>
                            </h4>
                        </div>
                        <div class="card-body" [ngClass]="{'bloquer':titre.bloquer}">
                            <p>{{titre.montant}}</p>
                            <p>{{titre.nombre_titre_achete}}/{{titre.limit_titre_achete}}</p>
                            <p>{{titre.balance?titre.balance.toFixed(7):0}}BTC</p>
                            <p>{{titre.balance_usd?titre.balance_usd.toFixed(2):0}}$</p>
                            <p>{{titre.valeur_titre_achete?titre.valeur_titre_achete.toFixed(2):0}}$</p>
                            <hr>
                        </div>
                        <div class="card-footer">
                            <div class="col-lg-6 col-md-3 col-sm-6">{{titre.date_miseajour}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
        <div class="col-lg-12 table-responsive" *ngIf="list_or_card">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Status Paiement</th>
                        <th scope="col">Date de Mise à jour</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let titre of _TITRE;let i=index">

                        <td>{{i+1}}</td>
                        <td>{{titre.nomprenom|uppercase}}</td>
                        <td>{{titre.emailadresse}}</td>
                        <td>{{titre.telephone}}</td>
                        <td>{{titre.titre}}</td>
                        <td>{{titre.montant}}$</td>
                        <td>
                            <label class="paiement-status-non-paye" *ngIf="titre.etat_paiement=='NON_PAYE'">{{'Non Payé'}}</label>
                            <label class="paiement-status-paye" *ngIf="titre.etat_paiement!='NON_PAYE'">{{'Payé'}}</label>
                        </td>
                        <td>{{titre.updated_at|date}}</td>
                        <td>
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLinkU"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm">
                                ...
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLinkU">
                                <a class="dropdown-item" href="javascript:void(0)" (click)="paye_titre_manuel(titre)">Payer</a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="debute_titre_manuel(titre)">Debuter</a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="supprimer_titre_manuel(titre)">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>