<div class="main-content">
    <div class="container-fluid col-md-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-3 col-sm-6" *ngFor="let titre of _TITRE"
                        (click)="getBinanceAccount(titre)" style="cursor: pointer;">
                        <div class="card {{getBg(titre.titre)}}" style="height: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">{{titre.titre}}
                                    <i class="{{getIcon(titre.titre)}}"></i>
                                </h4>
                            </div>
                            <div class="card-body" style="font-size: xxx-large;">
                                {{titre.montant}}$
                            </div>
                            <div class="card-footer" class="row">
                                <div class="col-lg-6 col-md-3 col-sm-6">{{titre.etat_paiement|lowercase}}</div>
                                <div class="col-lg-6 col-md-3 col-sm-6">{{titre.updated_at|date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-6" *ngIf="btn_add">
                        <button class="card btn btn-danger" (click)="addTitre()">
                            <button class="card-body btn btn-danger" (click)="addTitre()">
                                <button (click)="addTitre()" class="btn btn-danger" *ngIf="btn_add">Ajouter</button>
                            </button>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row card" *ngIf="selectTitre" style="height: 12rem;">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 col-sm-4">
                            <label class="col-lg-12">Titre </label>
                            <label class="col-lg-12" style="font-size: xxx-large;">{{selectTitre.titre  }}</label>
                            <label class="col-lg-12" style=""></label>
                            <label class="col-lg-12" style="">Nombre de titre acheté</label>
                            <label class="col-lg-12" style="">Valeur du titre</label>
                            <label class="col-lg-12" style="">Dividente du club</label>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-4">
                            <label class="col-lg-12">Balance</label>
                            <label class="col-lg-12"
                                style="font-size: xx-large;">{{selectTitre.balance?selectTitre.balance.toFixed(6):0}}BTC</label>
                            <label class="col-lg-12"
                                style="font-size: xx-large;">&#8776;{{selectTitre.balance_usd?selectTitre.balance_usd.toFixed(2):0}}$</label>
                                <label class="col-lg-12" style="">{{ nombre_titre_achete  }}</label>
                                <label class="col-lg-12" style="">{{ valeur_titre_achete?valeur_titre_achete.toFixed(2):0 }}$</label>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>