<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Modifier votre profil</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="E-mail" disabled [(ngModel)]="user.email" name="email">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Téléphone " type="text" [(ngModel)]="user.telephone" name="telephone">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prénom(s)" type="text" [(ngModel)]="user.first_name" name="first_name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" type="text" [(ngModel)]="user.last_name" name="last_name">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Profession" type="text" [(ngModel)]="user.occupation" name="occupation">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Adresse (physique)" type="text" [(ngModel)]="user.physical_address" name="physical_address">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ville" type="text" [(ngModel)]="user.town" name="town">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pays" type="text" [(ngModel)]="user.country" name="country">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Code postal" type="text" [(ngModel)]="user.postal_code" name="postal_code">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <label class="col-md-12 text-danger">Personne à contacter en cas de besoin</label>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prénom(s)" type="text" [(ngModel)]="user.s_first_name" name="s_first_name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" type="text" [(ngModel)]="user.s_last_name" name="s_last_name">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Téléphone" type="text" [(ngModel)]="user.s_telephone" name="s_telephone">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ville" type="text" [(ngModel)]="user.s_town" name="s_town">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pays" type="text" [(ngModel)]="user.s_country" name="s_country">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Code postal" type="text" [(ngModel)]="user.s_postal_code" name="s_postal_code">
                                </mat-form-field>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-12">
                                <label>A propos de moi</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="" [(ngModel)]="user.description" name="description"></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modifier_information()">Modifier mon profil</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{user.occupation}}</h6>
                      <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                      <p class="card-description">
                        {{user.description}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
